{% extends 'base.html' %}

{% block body %}
<div class="row">
  <div class="col-4">
    <img src="{{ person.profile.image.url }}" alt="Profile Image of {{ person.username }}"/>
  </div>
  <div class="col-8">
    <h1 class="display-4 d-inline">{{ person.username }}</h1>
    {% if request.user in person.follwers %}
      <a class="ml-3 btn btn-sm btn-outline-primary mb-3" href="#" role="button">팔로잉</a>
    {% else %}
      <a class="ml-3 btn btn-sm btn-primary mb-3" href="{% url 'accounts:follow' person.id %}" role="button">팔로우</a>
    {% endif %}
    <h4>{{ person.profile.nickname }}</h4>
    <p class="lead">{{ person.profile.description }}</p>
    <b>팔로워 | 팔로잉</b>
  </div>
</div>

<div class="card-deck mt-5 mb-2">
  {% if person.post_set %}
    {% for post in person.post_set.all %}
    <div class="card">
      <img src="{{ post.image.url }}" class="img-fluid" alt="Image">
    </div>
    {% endfor %}
  {% else %}
  <p class="lead">사진이 없습니다.</p>
  {% endif %}
</div>
<div class="my-5 d-flex justify-content-end">
{% if user.username == person.username %}
  <a href="{% url 'accounts:password' %}" class="btn btn-outline-success ml-2">비밀번호 변경</a>
  <a href="{% url 'accounts:update' %}" class="btn btn-outline-success ml-2">개인정보 수정</a>
  <a href="{% url 'accounts:delete' %}" class="btn btn-outline-danger ml-2">회원탈퇴</a>
</div>
{% endif %}
{% endblock %}