<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'posts:feed' %}"><i class="fab fa-instagram"></i> Instagram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="#해시태그" aria-label="Search">
      <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">검색</button>
    </form>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#">{{ user.username }}</a>
      </li>
      <li class="nav-item d-flex align-items-center ml-2">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'accounts:logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item d-flex align-items-center">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'accounts:login' %}">Login</a>
      </li>
      <li class="nav-item d-flex align-items-center ml-2">
        <a class="btn btn-sm btn-outline-secondary" href="#">Signup</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>