{% extends 'base.html' %}

{% block body %}
  <div class="d-flex justify-content-end mb-5">
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'posts:create' %}">글 쓰기</a>
  </div>
  <div class="row d-flex justify-content-center">
    {% for post in posts %}
    <div class="card mb-5" style="width: 40rem;">
      <!-- <img src="{{ post.imgurl }}" class="card-img-top" alt="..."> -->
      <img src="https://picsum.photos/200/200/?random" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text lead">{{ post.content }}</p>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div> <!-- 좋아요 버튼 -->
            <a href="{% url 'posts:like' post.id %}">
              {% if user in post.like_users.all %}
              <i class="fas fa-heart fa-lg"></i>
              {% else %}
              <i class="far fa-heart fa-lg"></i>
              {% endif %}
            </a>
            <span class="ml-2">좋아요 {{ post.like_users.count }}개</span>
          </div>
          <div> <!-- 작성자만 수정, 삭제 가능 -->
          {% if post.user == request.user %}
            <a href="{% url 'posts:update' post.id %}" class="btn btn-sm btn-outline-success">수정</a>
            <a href="{% url 'posts:delete' post.id %}" class="btn btn-sm btn-outline-danger ml-2">삭제</a>
          {% endif %}    
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}